<template>
  <q-page padding>
    <q-section><h1>Delegating</h1>
    <form @submit.prevent="delegate" class="q-pa-md">

      <q-input
        type="number"
        color="teal"
        hint="Amount in STX"
        v-model="amount"
      />

      <q-input
        type="text"
        color="teal"
        hint="Pool Stacks address"
        v-model="poolAddress"
      />

      <q-input
        type="number"
        color="teal"
        hint="Pool membership duration in cycles"
        v-model="duration"
      />

      <q-input
        type="number"
        color="teal"
        hint="Locking period in cycles"
        v-model="lockingPeriod"
      />

      <q-input
        type="string"
        color="teal"
        hint="Bitcoin address of pool admin"
        v-model="rewardAddress"
      />
      <q-input
        type="string"
        color="teal"
        hint="Bitcoin address of user"
        v-model="userAddress"
      />
      <div class="row justify-end">
        <q-btn
          type="submit"
          :loading="submitting"
          label="Delegate"
          class="q-mt-md"
          color="teal"
        >
          <template v-slot:loading>
            <q-spinner-facebook />
          </template>
        </q-btn>
      </div>
    </form>
    </q-section>

  </q-page>
</template>

<script>

import { openContractCall } from "@stacks/connect";
import { noneCV, someCV, standardPrincipalCV, uintCV } from '@stacks/transactions';

export default {
  name: 'Delegating',
  props: {
    pool
  },
  data () {
    return {
      amount: 0,
      duration: 0,
      poolAddress: "",
      lockingPeriod: 3,
      rewardAddress: "",
      userAddress: "",
      submitting: false
    }
  },
   methods: {
    delegate () {
      this.submitting = true

      const functionArgs = this.pool.extended ? [
        uintCV(this.amount),
        standardPrincipalCV(this.poolAddress),
        noneCV(), // TODO duration
        this.rewardAddress ? poxAddrCV(this.rewardAddress): noneCV(),
        this.userAddress ? poxAddrCV(this.userAddress): noneCV(),
        uintCV(this.lockingPeriod)
      ] : [
        uintCV(this.amount),
        standardPrincipalCV(this.poolAddress),
        noneCV(),
        this.rewardAddress ? poxAddrCV(this.rewardAddress): noneCV(),
      ]

      openContractCall({
        contractAddress: this.pool.contractAddress,
        contractName: this.pool.contractName,
        functionName: "delegate-stx",
        functionArgs,
        onFinish: () => {
          this.submitting = false
        }
      })
    }
  }
}
</script>
